@charset "UTF-8";
/*-----Variables-----*/
/*-----Utilidades-----*/
.Contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.titulo_centrado {
  text-align: center;
  color: white;
}

/*-----Base-----*/
html {
  box-sizing: border-box;
  /*hace que el pading no afecte el ancho de los elementos*/
  font-size: 62.5%;
  /*el hack del rem*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.Cuerpo {
  background-image: url(../assets/img/wallpaper.png);
  position: relative;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.2;
  /*interlineado*/
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  color: white;
  line-height: 1.7;
  font-size: 1.6rem;
  text-align: center;
}

a {
  text-decoration: none;
}

/*-----Componentes-----*/
.Boton {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0.5rem 0.6rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  border: none;
  border-radius: 2rem;
  margin-left: 2rem;
  transition: background-color 0.6s ease;
  background-color: rgb(207, 207, 207);
}
.Boton:hover {
  background-color: rgb(56, 56, 252);
}
.Boton:hover a {
  color: white;
  font-size: 1.5rem;
}
.Boton a {
  text-decoration: none;
  font-size: 1.4rem;
}

/*-----Layout-----*/
.Contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.Hero {
  background-color: rgba(255, 251, 251, 0.068);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .Hero {
    justify-content: space-between;
    flex-direction: row;
  }
}
.Hero__logo {
  align-self: flex-start;
  margin: 1rem;
}
@media (min-width: 768px) {
  .Hero__logo {
    align-self: center;
  }
}
.Hero__logo-img {
  height: auto;
  width: 5rem;
  border-radius: 10rem;
  /* Tamaño del logo */
}
@media (min-width: 768px) {
  .Hero__logo-img {
    height: auto;
    width: 100px;
    border-radius: 10rem;
    /* Tamaño del logo */
  }
}
.Hero__navegacion {
  align-self: flex-center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .Hero__navegacion {
    margin-top: 2rem;
    margin-right: 4rem;
  }
}
.Hero__navegacion ul {
  list-style: none;
}
.Hero__navegacion ul li {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .Hero__navegacion ul li {
    display: inline-block;
    margin-left: 20px;
  }
}
.Hero__navegacion-enlace {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.Hero__navegacion-enlace:hover {
  color: rgba(228, 159, 255, 0.623);
}
.Hero__navegacion .activo {
  color: rgba(228, 159, 255, 0.623);
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.overlay H2 {
  position: absolute;
  width: 15rem;
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
}
.overlay img {

  width: 15rem;
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
}

.banner {
  width: 100%;
  min-height: 40vh;
  overflow: hidden;
  position: relative;
}
.banner video {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .banner video {
    min-height: 20rem;
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 20rem;
  }
}
.banner__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  z-index: 2;
}
@media (max-width: 768px) {
  .banner__text {
    text-align: center;
    /* Centra el texto cuando la pantalla es más pequeña */
    left: 50%;
    /* Mueve el texto al centro horizontal */
    top: 20%;
    transform: translateX(-50%);
    /* Centra horizontalmente el texto */
  }
}
.banner__text h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .banner__text h1 {
    font-size: 1.7rem;
  }
}
.banner__text h2 {
  font-size: 2rem;
  margin-top: 0;
}
@media (max-width: 768px) {
  .banner__text h2 {
    font-size: 1.4rem;
  }
}

.Footer {
  background-color: rgba(8, 8, 8, 0.4666666667);
  overflow: hidden;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  max-height: 3%;
}
.Footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Footer ul li {
  display: inline-block;
  margin-left: 20px;
}
.Footer p {
  margin: 0;
}
@media (min-width: 768px) {
  .Footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.Footer__links {
  display: none;
}
@media (min-width: 768px) {
  .Footer__links {
    margin-top: 0.5rem;
    padding-top: 1rem;
    float: left;
    display: flex;
  }
}
@media (min-width: 768px) {
  .Footer__links-item a {
    font-size: 1.2rem;
    color: rgb(233, 217, 243);
    display: inline;
    text-decoration: none;
  }
}
.Footer__iconos ul {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .Footer__iconos {
    margin-top: 0;
    margin-right: 9rem;
  }
}
.Footer__iconos-lista .Footer__iconos-item .Footer__iconos-img {
  padding-top: 0.6rem;
  max-width: 2.2rem;
  margin-left: 0.5rem;
}
@media (min-width: 768px) {
  .Footer__iconos-lista .Footer__iconos-item .Footer__iconos-img {
    max-width: 2.5rem;
    margin-left: 1rem;
  }
}
.Footer__descripcion {
  display: flex column;
}
@media (min-width: 768px) {
  .Footer__descripcion {
    float: right;
    margin-right: 2rem;
  }
}
.Footer__descripcion-texto {
  color: rgb(233, 217, 243);
  font-size: 1rem;
}
@media (min-width: 768px) {
  .Footer__descripcion-texto {
    font-size: 1.2rem;
  }
}

label {
  color: white;
}

/*-----Vistas-----*/
.Platoestrella {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .Platoestrella {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.Platoestrella__plato {
  display: grid;
}
.Platoestrella__plato .Platoestrella__img {
  width: 50%;
  border-radius: 5rem;
  padding: 1rem;
  border-color: white;
  border-style: solid;
  justify-self: center;
}

.VideoEvento iframe {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
}
.VideoEvento__video {
  text-align: center;
  max-width: 85%;
}

.Acerca {
  display: grid;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .Acerca {
    grid-template-columns: 2fr 1fr;
    margin-top: 5rem;
    align-items: start;
    text-align: center;
    /*alinea horizontalmente*/
    gap: 2rem;
    border-left: rgba(255, 255, 255, 0.9803921569) inset;
    border-radius: 10rem;
    margin-bottom: 5rem;
  }
}
.Acerca__descripcion h2, .Acerca__descripcion p {
  margin-left: 0.5rem;
  color: white;
}
.Acerca__imagen {
  border: 0.5rem double rgb(250, 250, 200);
  border-radius: 5rem;
  margin-top: 3.5rem;
}
.Acerca__imagen-jpg {
  max-width: 100%;
  border-radius: 5rem;
}

.bg-navidad {
  background: rgba(255, 18, 18, 0.4509803922);
  border-radius: 2rem;
  border: 2px solid #ffffff;
}

.bg-añonuevo {
  background: rgba(17, 0, 255, 0.3098039216);
  border-radius: 2rem;
  border: 2px solid #ffffff;
}

.bg-disfraces {
  background: rgba(106, 0, 206, 0.5490196078);
  border-radius: 2rem;
  border: 2px solid #ffffff;
}

/*# sourceMappingURL=main.css.map */
