.Footer 
{
    background-color: #08080877;
    overflow: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    max-height: 3%;

    ul{

        list-style: none;
        margin: 0;
        padding: 0;

        li
        {
            display: inline-block;
            margin-left: 20px;
        }
    }

    p {
        margin: 0;
    }

    @media (min-width: 768px) 
        {
            flex-direction: row;
            justify-content: space-between;
        }

    &__links 
    {
        display: none;

        @media (min-width: 768px) 
            {
                margin-top: 0.5rem;
                padding-top: 1rem;
                float: left;
                display: flex;
            }

        &-item
        {
            a
            {
                @media (min-width: 768px) 
                    {
                        font-size: 1.2rem;
                        color: rgb(233, 217, 243);
                        display: inline;
                    }
            }
        }        
    }    

    &__iconos 
    {
        ul
        {
            display: flex;
            justify-content: flex-end;
        }   

        @media (min-width: 768px) 
            {
                margin-top: 0;
                margin-right: 9rem;
            }

         &-lista
         {
            .Footer__iconos-item
            {

                .Footer__iconos-img 
                {
                    padding-top: 0.6rem;
                    max-width: 2.2rem;
                    margin-left: 0.5rem;

                    @media (min-width: 768px) 
                        {
                            max-width: 2.5rem;
                            margin-left: 1rem;
                        }
                }
            }
         }   
    }

    &__descripcion
    {
        
        display: flex column;

        @media (min-width: 768px) 
            {
                float: right;
                margin-right: 2rem;
            }

            &-texto
            {
                color: rgb(233, 217, 243);
                font-size: 1rem;

                @media (min-width: 768px) 
                    {
                        font-size: 1.2rem;
                    }
            }
    }
}